.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
}

.icon {
    background-color: #22c55e;
    padding: 10px;
    border-radius: 14px;
}