.wrapper {
    height: 100%;
    position: relative;
}

.addBtn {
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.addBtn svg {
    stroke:#22c55e;
    stroke-width: 4px;
}
