.wrapper {
    position: relative;
}

.addBtn {
    position: absolute;
    bottom: 20px;
    right: -62px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.addBtn svg {
    stroke:#22c55e;
    stroke-width: 4px;
}
