.notification {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #363636;
    border-radius: 12px;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}