.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 70vh;
    padding-top: 20px;
}

.list::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
    min-width: 280px;
    min-height: 76px;
    position: relative;
    background-color: #363636;
    padding: 10px;
    border-radius: 10px;
}

.icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon svg {
    background-color: white;
    border-radius: 14px;
    padding: 4px;
    min-width: 30px;
}

.category {
    max-width: 160px;
}

.category p {
    line-height: 1.5;
}

.note {
    font-size: 14px;
    color: darkgrey;
}

.red {
    color: #f87171;
    stroke: #f87171;
}

.green {
    color: #22c55e;
    stroke: #22c55e;
}

.date {
    position: absolute;
    top: -22px;
    left: 10px;
    font-size: 16px;
    color: darkgray;
}

.amount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.amount svg {
    fill: darkgray;
    transition: fill 200ms ease;
    cursor: pointer;
}

.amount svg:hover {
    fill: white;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}